<html><head><title>mlmmj subscribers</title></head><body>
<h1>mlmmj subscribers</h1>
<p>
<a href="index.cgi">Index</a> | <a href="subscribers.cgi?list=$LIST">Reload subscriber list</a> | <a href="edit.cgi?list=$LIST">Configure</a>
</p>
<p>
$ACTION
</p>
<form action="subscribers.cgi" method="post">
<input type="hidden" name="list" value="$LIST">
<input type="hidden" name="maxid" value="$MAXID">
<input type="hidden" name="page" value="$PAGE">
<table><tr><td rowspan="5" valign="top">Add subscriber:&nbsp;&nbsp;</td>
<td>Email address: <input type="text" name="email"></td></tr>
<tr><td>Normal subscriber: <input type="checkbox" name="subscriber" value="1" checked></td></tr>
<tr><td>Digest subscriber: <input type="checkbox" name="digester" value="1"></td></tr>
<tr><td>No-mail subscriber: <input type="checkbox" name="nomailsub" value="1"></td></tr>
<tr><td><input type="submit" name="subscribe" value="Subscribe"></td></tr>

<tr><td rowspan="2" valign="top">Search for subscriber:</td>
<td>Email address: <input type="text" name="search" value="$SEARCH"></td></tr>
<tr><td><input type="submit" name="searchsubmit" value="Search"></td></tr>
</table>
<hr>
$PAGINATOR
<table border="1">
<tr><th>Email address</th><th>Normal subscriber</th><th>Digest subscriber</th><th>No-mail subscriber</th></tr>
$ROWS
</table>
$PAGINATOR
<p><input type="submit" name="update" value="Update subscriptions"></p>
</form>
</body></html>
